<h1>Результат</h1>
<br>
<table>
  <tr>
    <td>Полученный массив:</td>
    <td><%= @received %></td>
  </tr>
  <% if (@result == 0) %>
  <tr>
    <td>Таких отрезков нет</td>
  </tr>
  <% else %>
  <tr>
    <td>Все отрезки:</td>
    <td><%=  @result[0]  %></td>
  </tr>
  <tr>
    <td>Количество отрезков:</td>
    <td><%=  @result[1]  %></td>
  </tr>
  <tr>
    <td>Самый длинный отрезок:</td>
    <td><%=  @result[2]  %></td>
  </tr>
<% end %>
</table>
<%= link_to "Repeat calculation", :laba8_input %>
<%= puts @result %>